.body-container{
    height: 100vh;
    position: relative;
}
.body{
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translate(-50%, -50%);
    width: 50%;
    margin: 0 auto;
}
.form-check, .form-group{
    margin-bottom: 10px;
}